---
//import img from '../images/ginger-cat-asleep-bed.webp'
---
<div class="columns-1 sm:columns-2 single-item gap-2">
    <div class="hero-banner-text mt-10">
       <h1 class="text-white text-[35px] uppercase hero-heading">A gift in your will helps ensure their future</h1>
       <p class="text-white text-[20px] mt-4 mb-8">Get your free information pack today to find out more about how you can continue your dedicated care to the lives of dogs and cats.</p>
       <div class="clear-both block mt-5">
       <a href="https://www.battersea.org.uk/support-us/legacies-memory/leaving-legacy/request-gift-wills-information-pack" class="bg-white bg-opacity-50 hover:not-focus:bg-blue-950 p-3 text-[16px] uppercase font-medium hover:not-focus:text-white" aria-label="Get your free pack" tabindex="0">
       Get your free pack 
       </a>
    </div>
    </div>
       <img src='./ginger-cat-asleep-bed.webp' alt="Hero Banner" title="Hero Banner"/>
 </div>
 <style>
    .single-item {
        background-color: #3301c2;
    }
    .hero-banner-text {
        width: calc(100% - 64px);
        max-width: 500px;
        float: right;
    }
    .hero-heading {
        font-weight: 800;
        line-height: 45px;
    }
 </style>