---
const links = ['what we do', 'rehoming', 'pet advice', 'support us', 'shop']
import logo from '../images/logo.png'
---
<header>
   <nav class="bg-white border-gray-200 dark:bg-gray-900 w-full">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
         <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
         <img src={logo.src} class="h-8" alt="Flowbite Logo" />
         </a>
         <div class="hidden w-full md:block md:w-auto">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
               {links.map(item => 
               <li><a href={item}>{item}</a></li>
               )}
            </ul>
         </div>
      </div>
   </nav>
</header>