<div class="max-w-3xl mx-auto my-10">
    <h2 class="text-left text-[30px] font-semibold mb-4">We're here for every dog and cat</h2>
<p>At Battersea we offer our love and expert care to dogs and cats who need us by rescuing, rehabilitating and rehoming animals at our centres, and by sharing our knowledge and resources with rescue organisations around the world. We do this because we want to help every dog and cat, everywhere.&nbsp;</p>

</div>